body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header {
    display: inline;
}

.canvas-position {
    position: relative;
}

img {
    width: 25px;
    aspect-ratio: 1/1;
}

.icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 20px;
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    header {
        display: none;
    }

    canvas {
        height: 100vh;
    }
}