@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'inter';
    src: url('./fonts/inter.ttf') format('truetype');
}

body {
    font-family: 'inter', Arial, Helvetica, sans-serif;
    background: url('./imgs/website-background-img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-size: 2rem;
    font-weight: 500;
}

header {
    display: inline;
}

h1 {
    text-align: center;
    font-family: 'zabars';
    margin: 2rem 0 0 0;
    font-size: 6rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    font-size: 20px;
    background: radial-gradient(circle, #EFA260 50%, rgba(239, 162, 96, 0.5) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 2rem;
    padding: 1rem;
}

section a {
    color: black;
}

.canvas-position {
    position: relative;
}

img {
    width: 25px;
    aspect-ratio: 1/1;
    padding: 5px 5px;
}

img:hover {
    cursor: pointer;
}

.instructions {
    display: none;
    position: absolute;
    top: 50px;
    right: 5%;
    background-color: #FFAB00;
    z-index: 2;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

#instructions-icon {
    background-color: transparent;
    border-radius: 5px;
}

p {
    margin: 0.5rem 0px;
    text-align: center;
    width: fit-content;
}

.start-game-btn {
    display: flex;
    position: absolute;
    top: 10%;
    left: 40%;
}

.menu-btns {
    font-family: 'zabars';
    font-size: 2.5rem;
    background-color: #FFAB00;
    border-radius: 10px;
    padding: 5px 10px;
}

.menu-btns:hover {
    background-color: #FFDB00;
    cursor: pointer;
}

.game-over-menu {
    display: none;
    flex-direction: row;
    position: absolute;
    gap: 20px;
    top: 20%;
    left: 30%;

}

.icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hidden {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

.link-wrapper {

    font-size: 20px;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.link-wrapper a {
    color: white;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

li a {
    word-break: break-all;
    overflow-wrap: break-word;
}


@media only screen and (max-width: 720px) {
    section {
        font-size: 16px;
    }

    h1 {
        font-size: 5rem;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    header {
        display: none;
    }

    canvas {
        height: 100vh;
    }
}