@font-face {
    font-family: 'zabars';
    src: url('./zabars.regular.ttf') format('truetype');
}

body {
    font-family: 'zabars', Arial, Helvetica, serif;
    background: url('./imgs/website-background-img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-size: 2rem;
}

header {
    display: inline;
}

h1 {
    text-align: center;
    margin: 2rem 0 0 0;
    font-size: 6rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    font-size: 20px;
    font-weight: bold;
    background: radial-gradient(circle, #EFA260 50%, rgba(239, 162, 96, 0.5) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 2rem;
}

.canvas-position {
    position: relative;
}

img {
    width: 25px;
    aspect-ratio: 1/1;
    padding: 5px 5px;
}

img:hover {
    cursor: pointer;
}

.instructions {
    display: none;
    position: absolute;
    top: 50px;
    right: 5%;
    background-color: #FFAB00;
    z-index: 2;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

#instructions-icon {
    background-color: transparent;
    border-radius: 5px;
}

p {
    margin: 0.5rem 0px;
    text-align: center;
    width: fit-content;
    font-family: 'Times New Roman', Times, serif;
}

.start-game {
    font-family: 'zabars';
    font-size: 2.5rem;
    display: flex;
    position: absolute;
    top: 10%;
    left: 40%;
    background-color: #FFAB00;
    border-radius: 10px;
    padding: 5px 10px;
}

.start-game:hover {
    background-color: #FFDB00;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
}

.hidden {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    header {
        display: none;
    }

    canvas {
        height: 100vh;
    }
}